<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, initial-scale=1.0,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no">
    <title>壹镹镹陆</title>
    <link rel="stylesheet" href="/static/plugins/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/static/css/bootstrap-pager.css">
         <link rel="icon" href="/static/image/lagelanren.jpg" type="image/x-icon">
  <link rel="shortcut icon" href="/static/image/lagelanren.jpg" type="image/x-icon">
<!--    <script src="/static/js/jquery3.5.js"></script>-->
    <script src="https://cdn.staticfile.org/jquery/3.2.1/jquery.min.js"></script>
    <script src="/static/js/popper.min.js"></script>
    <script src="/static/js/eacharts.min.js"></script>
    <script src="/static/plugins/bootstrap-4.4.1-dist/bootstrap-4.4.1-dist/js/bootstrap.min.js"></script>
    <style>
        body{
            background: url(/static/image/bg1.jpg) center fixed;
            background-size: contain;
        }
    </style>
</head>
<body>
<div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-xm-12 col-sm-8 offset-sm-2">
             <ul class="nav float-right">
                <li class="nav-item">
                  <a class="nav-link" href="#">他的国</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">知乎红娘</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="#">留言</a>
                </li>
              </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>